<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>login form</title>
    </head>
    <body>
        <form action="/login" method="post">
            Id : <input type="text" name="id"><br/>
            Password : <input type="password" name="password"><br/>
        </form>
        
        <button class="ajaxsend">login</button>
        
        <div class="result"></div>
        
        <script>
            document.querySelector('.ajaxsend').addEventListener('click', function(){
                var id = document.getElementsByName('id')[0].value;
                var password = document.getElementsByName('password')[0].value;
                sendAjax('http://127.0.0.1:3000/login', {'id' : id, 'password' : password}
                );
                //sendAjax라는 함수를 만들고 거기다가 form에 있는 data를 받는다.
            })
            
            function sendAjax(url, data){
                data = JSON.stringify(data); //json형태를 string형태로 변경
                
                var xhr = new XMLHttpRequest(); //xml요청
                xhr.open('POST', url); //post방식으로 url열기
                xhr.setRequestHeader('Content-Type', "application/json");
                xhr.send(data); //json 형태의 data가 전달됌
                xhr.addEventListener('load', function(){
                    //main.js responseData를 json형태로 받아서
                    var result = JSON.parse(xhr.responseText); 
                    //JSON문자열의 구문을 분석하여 result에 저장
                    var resultDiv = document.querySelector(".result");
                    if(result.id) resultDiv.innerHTML = "welcome !!" + result.id + "!!";
                    else resultDiv.innerHTML = result;
                    //div result에 innerHTML을 result에 id를 출력
                });
            }
        </script>
    </body>
</html>