<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Nickname template</title>
    </head>
    <body>
        <h1>welcome !! <%= nickname %></h1>
        <p>정말 반가워요~! <%= nickname %> 님~</p>

    </body>
</html>