<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Nickname template</title>
    </head>
    <body>
        <h1>welcome !! <%= name %></h1>
        <p>정말 반가워요~! <%= id %> 님~</p>
        <p>정말 반가워요~! <%= email %> 님~</p>
        <p>정말 반가워요~! <%= password %> 님~</p>

    </body>
</html>